.footer-aside {}

.footer-contacts {
    display: block;
}

.footer-contacts__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
    
.footer-contacts__link {
    @include centeredFlex();
    
    fill: currentColor;
    color: $primary-white-color;
    
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-decoration: none;
    
    transition: color $transition;

    &:hover,
    &:focus {
        color: $primary-btn-color;
    }
}

.footer-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}