.footer-social-links {}

.footer__title {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-align: center;

    margin-bottom: 20px;

    color: $primary-white-color;
}

.footer-links {
    @include centeredFlex();
}

.footer-links__item {
    &:not(:first-child) {
        margin-left: 12px;
    }
}

.footer-links__link {
    @include centeredFlex();

    width: 44px;
    height: 44px;

    background-color: rgba(250, 250, 250, 0.2);
    color: $primary-white-color;
    fill: currentColor;
    border-radius: 50%;

    transition: color $transition,
                background-color $transition;

    &:hover,
    &:focus {
        background-color: $primary-btn-color;
        color: $primary-white-color;
    }
}

.footer-links__icon {
    fill: currentColor;
}