$primary-text-color: #757575;
$primary-gray-color: rgb(157, 164, 189);
$secondary-gray-color: #f0f0fa;
$primary-white-color: #ffffff;
$primary-blue-color: #2196f3;
$primary-btn-color: #ff6c00;
$primary-black-color: #212121;
$primary-icon-color: #AFB1B8;
$primary-gold-color: #ffd700;
$primary-footer-color: #323241;

$secondary-font: 'Playfair Display', sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);